<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReportsWinClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReportsWinClient.Properties.Settings>
            <setting name="TempDirectory" serializeAs="String">
                <value>C:\IstReports\Temp</value>
            </setting>
            <setting name="PortalUrl" serializeAs="String">
                <value>http://localhost:35342/api/v1/</value>
            </setting>
        </ReportsWinClient.Properties.Settings>
    </userSettings>
</configuration>